*.class
.idea/
.idea_modules/
saddle.sublime-workspace
project/target/
target/
targetJS/
!*api*
.metals/
metals.sbt
.bloop/
TODO
website/public/
website/static/api
_gen/
project/metals.sbt
.vscode/settings.json
.bsp
.scala-build
